{
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      },
      "alias": {
        "map": [
          [
            "@components",
            "./src/components"
          ],
          [
            "@views",
            "./src/views"
          ],
          [
            "@models",
            "./src/models"
          ],
          [
            "@hooks",
            "./src/hooks"
          ],
          [
            "@utils",
            "./src/utils"
          ]
        ],
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx",
          ".json"
        ]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/no-unresolved": "error",
    "no-console": "warn"
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "import",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@next/next/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": [
        "**/*.tsx"
      ],
      "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "no-unused-vars": "warn",
        "@typescript-eslint/no-unused-vars": [
          "warn",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "caughtErrorsIgnorePattern": "^_"
          }
        ]
      }
    }
  ],
  "globals": {
    "window": true
  }
}
